/* Initial body */


body {
	 left: 0;
	 margin: 0;
	 
	 background-image: url('../images/reptile.jpg');
	 background-repeat: no-repeat;
	 background-size: cover;
}

/* Initial menu */
.menu {
	background: rgba(0, 0, 0, 0.2);
	left: -200px;  /* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 200px;
}

/* Basic styling */

.container {	
}

.menu ul {
	 border-top: 1px solid #636366;
	 list-style: none;
     margin: 0;
	 padding: 0;
}

.menu li {
	border-bottom: 1px solid #636366;
	font-family: 'Oswald', sans-serif;
	line-height: 75px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-top: 3px;
}

.menu a {
	color: #fff;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 40px 60px 40px 40px;
}

.menu a:hover{
	color: red;
}

.icon-close {
	cursor: pointer;
	padding-left: 30px;
	padding-top: 30px;
}

.icon-close img {
	width: 40px;
	margin: 10px;
	padding: 10px;
}

.icon-menu {
	color: #fff;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-top: 25px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn {
	font-weight: bold;
	color: white;
	float: right;
	font-size: 25px;
	margin: 10px;
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
}

.btn:hover{
	color: red;
}

.btn2 {
	font-weight: bold;
	color: white;
	margin: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	padding: 10px 15px;
	margin: 10px;
	border-radius: 5px;
}

.btn2:hover{
	background-color: rgba(255, 255, 255, 0.2);
}
